.btn {
  padding: 5px 10px;
  border-radius: 0.4rem;
  border-color: transparent;
  color:wheat;
  background-color: rgba(220, 38, 38, 1);
  letter-spacing: 0.025em;
  text-transform: uppercase;
  font-size: 1rem;
  cursor: pointer;
}

@media (min-width: 640px) {
  .btn{
    font-size: 2rem;
  }
 }

.btn:hover {
  background-color: rgb(156, 18, 18);
}

.btn:focus {
  outline: none;
}

.btn-wrapper {
  position: absolute;
  top: 10px;
  left: 10px;
}